/** Design tokens to reuse across the project  **/

$color-text-primary: #222222;
$color-text-secondary: #7A7A7A;
$color-text-tertiary: #A3A3A3;

$border-radio-colour: #D6D6D6;
$border-checkbox-colour: $border-radio-colour;
$border-checkbox-colour-hover: #3F71D9;
$border-checkbox-full-width-colour: $color-text-primary;

$bg-colour: #EEEEEE;
$bg-checkbox-btn: #F8F8F8;
$bg-checkbox-btn-hover: #E4F4FE;
$bg-disabled: $border-checkbox-colour;
$bg-footer-btn: #3F71D9;


$placeholder-colour: $border-radio-colour;

$input-border-colour: $border-radio-colour;

$box-shadow: 0px 0px 15px 3px rgba(163,163,163,0.7);
             