/***  Styles for Dialog box for changing date range ***/

body {
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.5;
    color: $color-text-primary;
}


/*** Dialog box main styles ***/
.dialog-box {
    margin: 50px auto;
    max-width: 340px;
    height: auto;
    border-radius: 2%;
    box-shadow: $box-shadow;

    &__header {
        padding: 25px 20px;
        background: $bg-colour;
        z-index: 0;
        position: relative;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
    }

    &__icon-close {
        position: absolute;
        top: 36px;
        right: 20px;
        width: 22px;
        height: 22px;
        display: inline-block;
        z-index: 1;
        cursor: pointer;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-image: url("../../build/images/close.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__content {
        color: $color-text-secondary;
        font-size: 18px;
    }

    &__wrapper {
        padding: 10px 30px;
        border-bottom: 2px solid $bg-colour;

        &:last-child {
            border-bottom: none;
        }
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__text {
        display: inline-block;
        margin-bottom: 5px;

        &--small {
            font-size: 16px;
        }

        &--lighter {
            color: $color-text-tertiary;
        }
    }

    &__list {
        margin-bottom: 20px;
        color: $color-text-tertiary;
        font-size: 16px;

        &--columns {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }

    &__list-item {
        list-style: none;

        &--full-width {
            width: 100%;
        }
    } 

    &__list-field {
        position: relative;
    }

    input::placeholder {
       font-style: italic;
       color: $placeholder-colour;
    }

    &__input-icon {
        position: relative;
        display: block;
        margin: 5px 0 10px;

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 23px;
                height: 23px;
                top: 9px;
                right: 12px;
                background-image: url("../../build/images/date.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
    }

    @mixin input-text {
        width: 100%;
        padding: 10px;
        border: 2px solid $input-border-colour;
        color: $color-text-secondary;
        border-radius: 4px;

        &:focus {
            outline: none;
            border: 2px solid $border-checkbox-colour-hover;
        }
    }

    &__list-input[type=text] {
        @include input-text;
    }

    &__toggled-input-wrap {
        margin: 20px 0 12px;

        .dialog-box__toggled-input {
            @include input-text;
        }
    }

    &__footer {
        padding: 12px 30px;
        overflow: hidden;
    }

    &__footer-btn {
        padding: 12px 15px;
        background: $bg-footer-btn;
        border: none;
        border-radius: 4px;
        color: white;
        float: right;
        cursor: pointer;

        .dialog-box__text {
            margin-bottom: 0;
            letter-spacing: 0.3px;
        }
    }

}


/***  Dialog box style modifiers ***/
.dialog-box__list-field--radio {
    .dialog-box__list-input {
        display: none;
        visibility: hidden;

        &:checked + label::before {
            background: url("../../build/images/radio-blue.svg") transparent no-repeat 2px 2px;
        }
    }

    .dialog-box__list-label {
        display: inline-block;
        user-select: none;
        padding-left: 26px;
        margin-bottom: 12px;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2px;
            z-index: 0;
        }

        &:hover {
            cursor: pointer;
        }

        &::before {
            border-radius: 50%;
            left: 0;
            background: white;
            border: 2px solid $border-radio-colour;
            box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
        }

        &::after {
            left: 3px;
            display: none;
        }
    }
}

.dialog-box__list-item--checkbox-btn {
    width: 49%;
    margin-bottom: 10px;

    &:nth-child(2n+1) {
        margin-right: 2%;
    }
    
    .dialog-box__list-field {
        display: block;
    
        .dialog-box__list-label {
            background-color: $bg-checkbox-btn;
            border: 2px solid $border-checkbox-colour;
            border-bottom: 4px solid $border-checkbox-colour;
            border-radius: 4px;
            padding: 6px 12px;
            transition: all 0.3s ease;
            display: block;
            text-align: center;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
    
            &:before {
                top: 2px;
                left: 2px;
            }
        }
    
        .dialog-box__list-label-icon {
            font-size: 22px;
            line-height: 1;
            font-size: 16px;
        }
    
        .dialog-box__list-input {
            display: none;
            visibility: hidden;
    
            &:checked + .dialog-box__list-label {
                background-color: $bg-checkbox-btn-hover;
                color: $border-checkbox-colour-hover;
                border-color: $border-checkbox-colour-hover;
                text-decoration: underline;
            }
    
            &:hover + .dialog-box__list-label {
                background-color: $bg-checkbox-btn-hover;
                color: $border-checkbox-colour-hover;
                border-color: $border-checkbox-colour-hover;
                cursor: pointer;
            }
    
            &:checked:hover + .dialog-box__list-label {
                background-color: $bg-checkbox-btn-hover
            }
    
            &:hover + .dialog-box__list-label.disabled {
                background-color: $bg-checkbox-btn;
                border-color: $bg-disabled;
                color: $color-text-tertiary;
                cursor: not-allowed;
            }

            &:checked + .dialog-box__list-label.disabled {
                background-color: $bg-checkbox-btn;
                border-color: $bg-disabled;
                color: $color-text-tertiary;
            }
        }
    }
}

.dialog-box__list-item--full-width-checkbox {
    width: 100%;
    margin-right: 0!important;
    min-height: 145px;

    .dialog-box__toggled-input-wrap {
        display: none;
    }

    .dialog-box__list-input {

        &:hover + .dialog-box__list-label {
            border-color: $border-checkbox-full-width-colour !important;
        }

        &:checked + .dialog-box__list-label {
            border-color: $border-checkbox-full-width-colour !important;
            text-decoration: underline;
        }

        &:checked + .dialog-box__list-label + .dialog-box__toggled-input-wrap {
            display: block;
        }
    }
}


/** Default styles **/
.disabled {
    background: $bg-checkbox-btn;
    opacity: .5;
    box-shadow: none;
}

.hidden {
    display: none;   
}